.notifyjs-container {
    z-index: 100;
    position: fixed;
    bottom: 0;
    right: .5em;
    max-width: 304px;
    width: 100%;
}

.notifyjs-container .notifyjs-notification {
    display: none;
    position: relative;
    padding: 1em 2em 1em 2.5em;
    margin-bottom: .5em;
    width: 100%;
    border-width: 1px;
    border-style: solid;
    box-sizing: border-box
}

.notifyjs-container .notifyjs-notification p.progress {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 100%;
    height: 2px;
    content: ' ';
    margin-bottom: 0
}

.notifyjs-container a:hover,
.notifyjs-container a:visited,
.notifyjs-container  a:link,
.notifyjs-container  a:active,
.notifyjs-container  a{
    color: #ffffff;
    text-decoration: none!important;;
    text-decoration-style:initial;
    border-bottom:none;
}
.notifyjs-container .notifyjs-notification.alert-success {
    color: #ffffff;
    background-color: #4CAF50;
    border-color: #4CAF50
}

.notifyjs-container .notifyjs-notification.alert-danger {
    color: #ffffff;
    background-color: #f46c5c;
    border-color: #f46c5c
}

.notifyjs-container .notifyjs-notification.alert-warning {
    color: #ffffff;
    background-color: #ffae32;
    border-color: #ffae32
}

.notifyjs-container .notifyjs-notification.alert-info {
    color: #ffffff;
    background-color: #53bbf3;
    border-color: #53bbf3
}

.notifyjs-container .notifyjs-notification.alert-success p.progress {
    background: rgba(255, 255, 255, 0.51)
}

.notifyjs-container .notifyjs-notification.alert-danger p.progress {
    background: rgba(255, 255, 255, 0.51)
}

.notifyjs-container .notifyjs-notification.alert-warning p.progress {
    background: rgba(255, 255, 255, 0.51)
}

.notifyjs-container .notifyjs-notification.alert-info p.progress {
    background:rgba(255, 255, 255, 0.51)
}

.notifyjs-container .notifyjs-notification.alert-success .notifyjs-icon svg {
    fill: #ffffff;
}

.notifyjs-container .notifyjs-notification.alert-danger .notifyjs-icon svg {
    fill: #ffffff;
}

.notifyjs-container .notifyjs-notification.alert-warning .notifyjs-icon svg {
    fill: #ffffff;
}

.notifyjs-container .notifyjs-notification.alert-info .notifyjs-icon svg {
    fill:#ffffff;
}

.notifyjs-container .notifyjs-notification .notifyjs-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px
}

.notifyjs-container .notifyjs-notification .notifyjs-icon img,
.notifyjs-container .notifyjs-notification .notifyjs-icon svg {
    width: 16px;
    height: 16px
}